.tm-social { 
  width: 40px;
  height: 40px;
}

header {
padding: 10px; 
position: fixed; 
top:0; 
left: 0; 
right: 0; 
z-index: 9;
transition: .5s;
background-image: url("https://i.imgur.com/iWzqkl7.png");
}

.logo {
height: 50px;
}


.margem{
  margin-top: 2%;
}

.fundo {
  background-image: url("https://i.imgur.com/iWzqkl7.png");
  background-size: cover;
  height: 900px;
}

.text{
  margin-top: 30%;
  text-align: center;
  color: #fff;
  font-family: "Lato",Sans-serif;
}

.text-maior{
  text-align: center;
  margin-left: 34%;
  font-size: 72px;
  margin-bottom: 2;
  margin-top: 2;
  font-style: normal;
  color: #fff;
  font-family: "Lato",Sans-serif;
}

.text-maior-digital{
  text-align: center;
  margin-left: 25%;
  font-size: 72px;
  color: #fff;
  font-family: "Lato",Sans-serif;
}

.text-maior-publicidade{
  text-align: center;
  margin-left: 41%;
  font-size: 72px;
  margin-bottom: 2;
  margin-top: 2;
  color: #fff;
  font-family: "Lato",Sans-serif;
}

.texto{
  text-align: center;
  margin-left: 42%;
  font-size: 18px;
  margin-bottom: 2;
  margin-top: 2;
  color: #fff;
  font-family: "Lato",Sans-serif;
  font-size: 18px;
  text-align: start;
}

.img-celular{
  margin-top: 10%;
  width: 50%;
  margin-left: 30%;
}

.img-redes{
  margin-top: 100%;
  float: left;
}

.btn-solicite{
  margin-top: 4%;
  margin-left: 42%;
}

.icones{
  margin-top: 5%;
  margin-left: 50%;
}

.navbar-nav {
justify-content: flex-end;
align-items: flex-end;
  }




/* Utilizei o posicion absoluta para colocar a div dentro do card com o bottom: 0, que deixa a div com zero de distância da parte de baixo da div-mãe (div do card), e deixei com width de 100% para ficar com o comprimento da div-mãe */
.legenda-carrosel {
  position: absolute;
  bottom: 0;
  width: 100%;
}



.card {
  transition-duration: 0.5s;
  cursor: pointer;
  outline-offset: 0px;
}

textarea:focus, input:focus, select:focus {
  outline: 0;
}

.card:hover {
  box-shadow: 0 6px 20px rgb(0 0 0 / 45%);
}

.card-title{
  font-weight: 500;
}

.preco {
  color:var(--verde-preco);
  text-align: center;
  font-weight: 500;
}



.card-carrosel-innsite {
  max-width: 90%;
  max-height: 95%;
  transition: .1s;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.controle-innsite {
  height: 50px;
  width: 10px;
  margin-top: 25%;
  transition-duration: .5s;
  background-color: #594dff;
}

.controle-innsite:hover {
  background-color: #594dff;
}

.card-img-top {
  height: 550px;
  width: 200px;
  transition: transform .2s;
}

.card:hover .card-img-top {
  transform: scale(1.2);
}



.footer {
  background-image: url("https://i.imgur.com/iWzqkl7.png");
}

.primeira-linha-rodape {
  display: flex;
}

.menu-rodape {
  display: flex;
  padding: 0;
}

.menu-redes-sociais {
  display: flex;
  margin-left: auto;
  padding: 0;
}

p{
  white-space: pre;
}


.descricao{
  color: #3a3a3a;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  color: #3a3a3a;
  font-weight: 400;
  display: block;
}

.cor-copy {
  color: rgba(0,0,0,.5);
}

.cor-menu-rodape{
color: #ffffff;
}

.linha{
  margin-left: 55%;
  margin-top: 120%;
}

.redes{
  padding-top: 1rem;
}

.cliente{
  font-size: 12;
  color: #ffffff;
}

.tamanho{
  font-size: 1.4em;
}



.menu-final-rodape {
  display: flex;
}

.logo-loja{
  padding: 5%;
}

.logo-navbar{
  width: 10;
  height: 10;
}

.logo-navbar-telefone{
  margin-left: 65%;
}

.logo-navbar-cadeado{
  margin-left: 2%;
}

.menu-navbar{
  margin-left: 46%;
  color: #ffffff;
}

.menu-navbar-after{
  margin-left: 2%;
  color: #ffffff;
}

.btn-menu-navbar{
  margin-left: 2%;
}

.fonte-empresa{
  font-size: 8;
  color: #ffffff;
}

.fonte-portifolio{
  color: #594dff;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}

.fonte-portfolio{
  margin-left: 43%;
  font-size: 8;
  color: #3a3a3a;
}

.fonte-trabalho{
  margin-left: 8%;
  font-size: 8;
  color: #3a3a3a;
}

.fonte-rodape{
    margin-top: 15%;
    color: #fff;
    font-family: "Lato",Sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-solicite-flooter{
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
}


